Django==4.2.11
djangorestframework==3.14.0
django-filter==23.5
django-cors-headers==4.3.1
django-extensions==3.2.3
django-environ==0.11.2
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.3
django-celery-beat==2.6.0
django-celery-results==2.5.1
opencv-python-headless==4.9.0.80
Pillow==10.3.0
pytesseract==0.3.10
google-generativeai==0.5.2
requests==2.31.0
python-decouple==3.8
python-dotenv==1.0.1
cryptography==42.0.5
gunicorn==21.2.0
whitenoise==6.6.0
openpyxl==3.1.2
pandas==2.2.2
pytest==8.1.1
pytest-django==4.8.0
factory-boy==3.3.0
bcrypt==4.1.2
gevent==24.2.1
paramiko==3.4.1
